
profiles {
    
    local {
        process.executor = 'local'
        process.memory = '32GB'
        process.cpus = 10
    }

    slurm {
        process.executor = 'slurm'
        process.memory = '2GB'
        process.cpus = 1
        time = '30m'

        // Process-specific settings
        process {
            withName: 'get_phenologs_data' {
                memory = '32GB'
            }
            withName: 'compute_fdr_data' {
                memory = '64GB'
                cpus = 10
            }
            withName: 'compute_real_phenolog_data' {
                memory = '64GB'
                cpus = 10
            }
            withName: 'compute_ortholog_rank_calcs' {
                memory = '32GB'
            }
            withName: 'leave_one_out_calculations' {
                memory = '64GB'
                cpus = 10
            }
            withName: 'leave_one_out_ortholog_rank_calcs' {
                memory = '64GB'
                cpus = 10
            }
        }
    }
}