
profiles {

    local {

        executor = 'local'
        memory = '2GB'
        cpus = 1
        
        withName: 'get_phenologs_data' {
            memory = '16GB'
        }
        withName: 'compute_fdr_data' {
            memory = '64GB'
            cpus = 10
        }
        withName: 'compute_real_phenolog_data' {
            memory = '64GB'
            cpus = 10
        }
        withName: 'compute_fdr_info' {
            memory = '8GB'
        }
        withName: 'ortholog_rank_calcs' {
            memory = '8GB'
        }
        withName: 'leave_one_out_calculations' {
            memory = '64GB'
            cpus = 10
        }
        withName: 'leave_one_out_ortholog_rank_calcs' {
            memory = '64GB'
            cpus = 10
        }
    }

    slurm {

        executor = 'slurm'
        memory = '2GB'
        queue = 'general'
        cpus = 1
        
        withName: 'get_phenologs_data' {
            memory = '16GB'
            queue = 'general'
        }
        withName: 'compute_fdr_data' {
            memory = '64GB'
            cpus = 10
            queue = 'general'
        }
        withName: 'compute_real_phenolog_data' {
            memory = '64GB'
            cpus = 10
            queue = 'general'
        }
        withName: 'compute_fdr_info' {
            memory = '8GB'
            queue = 'general'
        }
        withName: 'ortholog_rank_calcs' {
            memory = '8GB'
            queue = 'general'
        }
        withName: 'leave_one_out_calculations' {
            memory = '64GB'
            cpus = 10
            queue = 'general'
        }
        withName: 'leave_one_out_ortholog_rank_calcs' {
            memory = '64GB'
            cpus = 10
            queue = 'general'
        }
    }

}