report.overwrite = true // allows the report to be overwritten
dag.overwrite = true    // allows the dependency graph to be overwritten
executor.queueGlobalStatus = true

profiles {
    
    local {
        process.executor = 'local'
        process.memory = '32GB'
        process.cpus = 10
        }
    
    slurm {

        executor {
             name = 'slurm'
             queueGlobalStatus = true
             }
             
        process.executor = 'slurm'
        process.memory = '2GB'
        process.cpus = 1
        process.queue = 'general'
        process.time = '30m'

        process {
            withName: 'get_phenologs_data' {
                memory = '8GB'
            }
            withName: 'compute_fdr_data' {
                memory = '64GB'
                cpus = 32
                time = '4h'
            }
            withName: 'compute_real_phenolog_data' {
                memory = '64GB'
                cpus = 10 
            }
            withName: 'compute_fdr_info' {
                memory = '8GB'
            }
            withName: 'compute_ortholog_rank_calcs' {
                memory = '8GB'
            }
            withName: 'leave_one_out_calculations' {
                memory = '64GB'
                cpus = 32
                time = '8h'
            }
            withName: 'leave_one_out_ortholog_rank_calcs' {
                memory = '64GB'
                cpus = 32
            }
        }
    }
}



        // Random trials settings
        //process.withName.compute_fdr_data.memory = '64GB'
        //process.withName.compute_fdr_data.cpus = 5

        // Real phenologs calculations settings
        //process.withName.'compute_fdr_data'.memory = '64GB'
        ///process.withName.'compute_fdr_data'.cpus = 10



//compute_real_phenolog_data
//compute_fdr_info
//compute_ortholog_rank_calcs
//leave_one_out_calculations
//leave_one_out_ortholog_rank_calcs